* {
    font-family: arial;
    background-color: rgb(175, 173, 173);
}

body {
    display: flex;
}

.grid,
.list {
    width: 80vw;
    height: auto;
    /* border: 1px solid black; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
}

.item--grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 21%;
    height: 400px;
    margin: 20px;
    padding: 0;
    /* border: 1px solid black; */
    /* background-image: url("img/pic.png"); */
    /* background-size: cover; */
    text-align: start;
    background-color: grey;

}

.item--grid * {
    margin: 4px;
    background-color: grey;

}

.item--grid .name {
    /* margin: 0; */
    color: rgba(39, 15, 15, 0.671);
} 

.item--grid img {
    margin: 0;
    width: 100%;
}

.item--grid .price {
    /* margin-top: 10px; */
    color: rgba(255, 239, 239, 0.671);
    position: absolute;
    bottom: 0;
    /* left: 55%; */
    right: 0;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    /* justify-self: self-end; */
    text-align: center;
}
.item--grid .cal {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    color: white;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.list {
    /* background-color: yellowgreen; */
}

.list--item {
    list-style-image: url("img/pic-small.png");
    /* background-color: orange; */
}

.button {
    display: block;
    position: relative;
    margin-left: 90%;
    width: 90px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: yellowgreen;
}

select {
    width: 100px;
    height: 20px;
}

