* {
    font-family: arial;
    background-color: rgb(175, 173, 173);
}

body {
    display: flex;
    position: relative;
}

.grid,
.list {
    width: 80vw;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.item--grid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 21%;
    height: 400px;
    margin: 20px;
    padding: 0;
    text-align: start;
    background-color: grey;
    border-radius: 9px;

}

.item--grid * {
    margin: 4px;
    background-color: grey;
    
}

.item--grid .name {
    color: rgba(39, 15, 15, 0.671);
} 

.item--grid img {
    border-radius: 10px;
    margin: 0;
    width: 100%;
}

.name_container {
    display: flex;
    justify-content: space-between;
}

img[src='img/edit1.jpg'] {
    box-sizing: border-box;
    padding: 4px;
    width: 24px;
    cursor: pointer;
}

img[src='img/edit1.jpg']:hover {
    border: 1px solid white;
    padding: 4px;
    border-radius: 50%;
}

.item--grid .desc {
    display: inline;
    white-space: pre-line;
    /* width: 95%; */
    font-size: 15px;
    margin-left: 4px;
}

.item--grid .price {
    color: rgba(255, 239, 239, 0.671);
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}
.item--grid .cal {
    position: absolute;
    bottom: 0;
    font-weight: bold;
    color: white;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.list {
    margin-left: -200px;
    margin-top: 50px;
}

.item--list {
    list-style-image: url("img/pic-small.png");
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: 20px;
    line-height: 1.2;
    color: rgba(34, 33, 33, 0.699);
}

.main {
    position: relative;
}

.button {
    display: block;
    position: absolute;
    left: 950px;
    top: 0;
    width: 90px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: yellowgreen;
}

.content {
    position: absolute;
    top: 40px;
    left: 0;
}

select {
    width: 200px;
    height: 20px;
    margin-left: -150px;
    background-color: aqua;
}
option {
    background-color: aqua;
}

label:hover {
    background-color: rgb(17, 16, 16);
    color: rgb(164, 211, 162);
    transition: 9ms ease-in;
}

.ings_item {
    margin: 0;
    display: inline-block;
}

.ings_item:hover {
    color: rgb(160, 255, 250);
    cursor: pointer;
}


.modal {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
    top:50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index:1;
    border: 1px solid black;

}

.modal label {
    background-color: white;
}

.modal_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 90px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(255, 208, 0, 0.829);
}

.modal_button:hover {
    font-size: 20px;
}

.modal_close_button {
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    padding: 1px;
    color: red;
    font-size: 50px;
    line-height: 1;
    height: 0;
    z-index:2;
    cursor: pointer;

}

.modal_close_button:hover {
    font-size: 55px;
}

.image-turn {
    transform: rotate3d(0, 1, 0, 1turn);
    transition: ease-in 2s;
    background-color: none;
}

